body,
main {
  display: flex;
}
body {
  flex-direction: column;
}
main {
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
  padding: 6px;
}
aside {
  flex: 1;
  overflow-y: auto;
  padding: 6px;
}

header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0.5em;
  display: flex;
  align-items: center;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

li {
  padding: 0.5em;
  display: inline;
  style: none;
}

a {
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: none;
}
img {
  width: 30em;
  height: 20em;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
